- name: Deploy backend components
  hosts: backend
  become: yes
  tasks:
    - name: Run redis container
      community.docker.docker_container:
        name: redis
        image: redis
        ports: ["6379:6379"]

    - name: Run worker container
      community.docker.docker_container:
        name: worker
        image: chojiu/worker-project-1:latest
        env:
          REDIS_HOST: "redis"
          DB_HOST: "db.internal"
          DB_USER: "postgres"
          DB_PASSWORD: "postgres"
          DB_NAME: "postgres"